<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @tour.destination.try(:name) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tour.price %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @tour.hometown %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @tour.introduction %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @tour.image %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
