<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @day.tour.try(:name) %>
</p>
<p>
  <strong>Description:</strong>
  <%= @day.description %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
