<div class="tour-details">
	<h2>{{name}}</h2>
	<img src="client/img/dujiangyan.jpg"></img>
	{{#list days}}
		Day {{num}} {{description}}
	{{/list}}
	<h3>Tour Guide</h3>
	<img src="client/img/kool-aid-man.jpg"></img>
  <br/>
	Hometown: {{hometown}}
  <br/>
	Introduction: {{introduction}}
  <br/>
	<button>Book</button>
</div>